
* {box-sizing: border-box}

.skills{
    background-color: #576d82;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 600px;
}

.theContainer{
     display:flex ;
  flex-direction:row;
   width:100% ;
    justify-content:center;
}


h1{
    margin-bottom: 70px;
    margin-top: 100px;
    font-size: -webkit-xxx-large;
}

h4{
    margin-bottom: 6px;
    margin-right: auto;
}

h5{margin-top: -25px;
margin-bottom: 9px;
margin-left: auto;}

.forSkils{
    display: flex;
    flex-direction: column;
    width:30%;
    height: 30px;
   height: 13px;
}

.container {
    width: 100%;
    background-color: #ddd;
  }

.skill{
    text-align: right;
    height: 10px;
    color: white;
  }


.js{
    background-color:#203353;
    width:95%;    
}
.hC{
    background-color:#203353;
    width:90%;    
}
.react{
    background-color:#203353;
    width:80%;    
}
.exp{
    background-color:#203353;
    width:80%;    
}
.opp{
    background-color:#203353;
    width:70%;    
}
.mo{
    background-color:#203353;
    width:85%;    
}
.str{
    background-color:#203353;
    width:75%;    
}

.m{
    background-color:#203353;
    width:90%;    
}

@media only screen and (max-width: 738px) {
    h1{
        font-size: medium;
    }
    .skills{
        height: 1000px;
        clip-path:none;
    }
    .theContainer {
      flex-direction: column;
    }
    .skill{
        margin-left: 0;
    }
  }