
* {box-sizing: border-box}

.skills{
    background-color: #576d82;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 720px;
    
}

.theContainer{
     display:flex ;
  flex-direction:row;
   width:100% ;
    justify-content:center;
   
}


h1{
    margin-bottom: 70px;
    margin-top: 100px;
    font-size: -webkit-xxx-large;
    font-weight:500;
}

h4{
    margin-bottom: 6px;
    margin-right: auto;
}

h5{margin-top: -25px;
margin-bottom: 9px;
margin-left: auto;}

.forSkils{
    display: flex;
    flex-direction: column;
    width:30%;
    height: 30px;
   height: 13px;
}

.container {
    width: 100%;
    background-color: #ddd;
  }

.skill{
    text-align: right;
    height: 10px;
    color: white;
  }


.js{
    background-color:#203353;
    width:95%;    
}
.hC{
    background-color:#203353;
    width:90%;    
}
.react{
    background-color:#203353;
    width:80%;    
}
.exp{
    background-color:#203353;
    width:80%;    
}
.opp{
    background-color:#203353;
    width:70%;    
}
.mo{
    background-color:#203353;
    width:85%;    
}
.str{
    background-color:#203353;
    width:75%;    
}

.m{
    background-color:#203353;
    width:90%;    
}


  @media screen and (max-width: 700px) {
    .skills{ width:100%; height: fit-content;}
    .theContainer {
        flex-direction:column;
        align-items: center;
        margin-bottom: 30px;
      }
    h4{
        font-size: inherit;
    }
    .forSkils{
        margin-bottom: 300px;
    }

    .forSkils{
        margin-bottom: 300px;
        width: 61%;
    }
   
  }

  @media screen and (max-width: 420px) {
    .skills{ width:100%; height: fit-content;}
    .theContainer {
        flex-direction:column;
        align-items: center;
        margin-bottom: 30px;
      }
    h4{
        font-size: inherit;
    }
    .forSkils{
        margin-bottom: 300px;
        width: 61%;
    }
   
  }
  


  