#nav{
    z-index: 1 !important;
    background-color:rgba(51, 105, 255, 0) !important;
    position: fixed;
    width: 100% !important;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #203353 !important;
    margin-bottom: -110px !important;
}

@media (min-width: 600px)
{
.MuiToolbar-regular {
    min-height: 100px;
}}

#forNav{
  
    margin-left: 210px !important;
  } 

  #forbtnH{
    margin-left:60px !important;
    font-variant: small-caps, bold!important;
    font-size: 19px !important;
    font-family: "Times New Roman", Times, serif  !important;
  
    text-align: center !important;
    border-radius: 20px !important;

}


#forbtnH:hover{
    background-color: #576d82 !important; 
}